<!DOCTYPE html>
<html>
  <head>
    <title>ApplicationTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag :application, "data-turbolinks-track": "reload", defer: true %>
  </head>

  <body>

    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ruby on Rails</a>
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= horses_path %>">Chevaux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= performances_path %>">Performances</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= exercises_path %>">Exercices</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="<%= foods_path %>">Alimentation</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" style="padding-top: 5rem;">
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>"> <%= msg %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
